body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.header {
  padding-bottom: 60px;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  background-color: #f4f7f9;
}

.logo {
  display: flex;
  align-items: center;
  height: 42px;
  padding-right: 55px;
  padding-left: 55px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.header-user-wrap {
  background-color: #293449;
}

.header-user {
  display: flex;
  justify-content: flex-end;
  width: 940px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.header-user a {
  color: #ffffff;
}

.visually-hidden {
  height: 0;
  font-size: 0;
  visibility: hidden;
}

.search-form-wrap {
  position: relative;
  flex-grow: 2;
  align-self: center;
}

.search-form-wrap input {
  margin: 0 auto;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 48px;
  line-height: 18px;
  background-color: #293449;
  border: 0;
}

input[type="search"]::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
}

.header-item-wrap:hover,
.search-form-wrap:hover,
.search-form-wrap:hover input {
  background-color: #212a3a;
}

.search-form input {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
}

.search-form input:focus {
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;
  background-color: #ffffff;
  outline: none;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
  fill: #5f6777;
}

.search-icon:hover {
  fill: #ffffff;
}

.search-input:focus + .search-icon {
  fill: #ee3643;
}

.header-item-wrap {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 120px;
  padding-right: 29px;
  cursor: pointer;
}

.cart-red {
  background-color: #ee3643;
}

.header-item-wrap:active {
  background-color: #161d29;
}

.header-bookmarks:active,
.header-cart:active,
.checkout-order:active {
  color: rgba( 255, 255, 255, 0.6);
}

.bookmark-icon::before {
  content: " ";
  position: absolute;
  left: 17px;
  width: 18px;
  height: 18px;
  background: url("../img/svg-technomart/icon-bookmark.svg") no-repeat 0 0;
  opacity: 0.5;
}

.cart-icon::before {
  content: " ";
  position: absolute;
  left: 17px;
  width: 18px;
  height: 18px;
  background: url("../img/svg-technomart/icon-cart.svg") no-repeat 0 0;
  opacity: 0.5;
}

.header-item-wrap:hover .bookmark-icon::before,
.header-item-wrap:hover .cart-icon::before,
.search-form-wrap:hover .header-icon {
  opacity: 1;
}

.header-item-wrap:active .bookmark-icon::before,
.header-item-wrap:active .cart-icon::before {
  opacity: 0.3;
}

.search-icon::before {
  background: url("../img/svg-technomart/icon-search.svg") no-repeat 0 0;
}

.checkout-order-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;

  background-color: #63a63e;
  cursor: pointer;
}

.checkout-order-wrap:hover {
  background-color: #5fbb2d;
}

.checkout-order-wrap:active {
  background-color: #518534;
}

.checkout-order {
  text-align: center;
}

.header-cart-added {
  padding-right: 31px;
  padding-left: 17px;
  background-color: #ee3643;
}

.header-info-wrap {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  margin-top: 49px;
  padding-right: 10px;
  padding-left: 10px;
}

.header-info {
  flex-basis: 197px;
  margin: 0;
  margin-left: 53px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ee3643;
  font-style: italic;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  margin-left: 22px;
}

.header-contacts.contacts-flex {
  margin-left: 4px;
}

.header-phone {
  display: flex;
  align-items: center;
  width: 145px;
  height: 36px;
  padding-right: 48px;
  padding-left: 73px;
  border: 3px solid #ffffff;
}

.phone-icon::before {
  content: " ";
  position: absolute;
  top: 0;
  left: -60px;
  width: 22px;
  height: 20px;
  background: url("../img/svg-technomart/icon-phone.svg") no-repeat 0 0;
}

.phone {
  position: relative;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #ee3643;
}

.address {
  margin-top: 5px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-input-registration {
  display: flex;
  margin-bottom: 55px;
}

.user-input {
  position: relative;
  display: flex;
  align-items: center;
  height: 37px;
  padding-top: 2px;
  padding-right: 24px;
  padding-bottom: 2px;
  padding-left: 46px;
  background-color: #ffffff;
  cursor: pointer;
}

.user-input a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.input-icon {
  position: absolute;
  top: 12px;
  left: 14px;
  width: 20px;
  height: 18px;
  fill: #c5c5c5;
}

.user-block {
  margin-bottom: 11px;
}

.user-registration {
  display: flex;
  align-items: center;
  height: 37px;
  margin-left: 10px;
  padding-top: 2px;
  padding-right: 25px;
  padding-bottom: 2px;
  padding-left: 24px;
  background-color: #ffffff;
}

.user-registration a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-input:hover .input-icon,
.user-input:hover a,
.user-registration:hover a {
  color: #ee3643;
  fill: #32425c;
}

.user-input:active .input-icon {
  fill: #c5c5c5;
}

.user-input a:active,
.user-registration a:active {
  color: rgba( 0, 0, 0, 0.30);
}

.user-name {
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-right: 1px;
  padding-bottom: 3px;
  padding-left: 0;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.user-name:hover .user-icon {
  fill: #32425c;
}

.user-name:active .user-icon {
  fill: #c5c5c5;
}

.user-name-block {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.user-name-block-auth {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  cursor: auto;
}

.logout-link:hover .exit-icon {
  fill: #32425c;
}

.logout-link:active .exit-icon {
  fill: #c5c5c5;
}

.user-icon {
  padding-top: 5px;
  padding-right: 14px;
  padding-bottom: 7px;
  padding-left: 11px;
  background-color: #ffffff;
  fill: #c5c5c5;
}

.exit-icon {
  padding-top: 8px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-left: 35px;
  background-color: #ffffff;
  fill: #c5c5c5;
}

.user-name-block:hover a,
.user-name-block:hover .user-icon,
.user-name-block:hover .exit-icon {
  color: #ee3643;
  fill: #32425c;
}

.user-name-block:active a,
.user-name-block:active .user-icon,
.user-name-block:active .exit-icon {
  color: #ee3643;
  fill: #c5c5c5;
}

.user-cabinet {
  display: flex;
  margin-top: 10px;
  margin-left: 17px;
  padding-left: 0;
}

.user-cabinet li {
  color: #32425c;
}

.user-cabinet li:first-child {
  margin-right: 30px;
  list-style: none;
}

.user-cabinet li:last-child {
  padding-left: 2px;
}

.user-cabinet a {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #32425c;
  text-decoration: underline;
}

.user-cabinet a:hover {
  color: #ee3643;
}

.user-cabinet a:active {
  color: rgba( 50, 66, 92, 0.3);
}

.user-block .user-name:hover {
  color: #ee3643;
}

.user-block .user-name:active {
  color: rgba( 0, 0, 0, 0.3);
}

.header-navigation {
  width: 940px;
  margin: 13px auto 0;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.header-navigation a:hover {
  background-color: #293449;
}

.header-navigation a:active {
  color: rgba( 255, 255, 255, 0.50);;
  background-color: #1d2739;
}

.navigation-list a {
  display: flex;
  align-items: center;
  height: 55px;
  padding: 0 30px;
  color: #ffffff;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 0;
  padding: 0 23px;
  list-style: none;
}

.navigation-list li {
  display: flex;
  align-items: center;
  height: 55px;
  margin: 0;
  padding: 0;
}

.container {
  width: 940px;
  margin: 20px auto 0;
  padding-right: 10px;
  padding-left: 10px;
}

.breadcrumbs-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.breadcrumb-item {
  position: relative;
  padding-left: 40px;
  text-transform: uppercase;
}

.breadcrumb-item::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 8px;
  height: 12px;
  background: url("../img/svg-technomart/icon-right-small.svg") no-repeat 0 0;
}

.breadcrumbs li,
.breadcrumbs a,
.sort p,
.sort-list,
.filter-title {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.main-title-wrap {
  display: flex;
  background-color: #f2f6f8;
}

.main-title {
  padding-left: 28px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #32425c;
  text-transform: uppercase;
}

.main-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  width: 220px;
  margin-right: 20px;
  padding-bottom: 300px;
}

.filter-container-wrap {
  display: flex;
  flex-direction: column;
  width: 220px;
}

.main-filter-title {
  padding-top: 11px;
  padding-right: 150px;
  padding-bottom: 11px;
  padding-left: 18px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.filter-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
}

.range-filter {
  padding-bottom: 28px;
  border-bottom: 1px solid #e5e5e5;
}

.filter-subtitle {
  margin-top: 12px;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
}

.price-controls input {
  width: 96px;
  padding-top: 9px;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  background-color: #f7f3ec;
  border: none;
  border-radius: 5px;
}

.price-controls span {
  margin: 0 9px;
  padding-top: 8px;
}

.checkbox-filter {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-right: 77px;
  padding-bottom: 3px;
  border-bottom: 1px solid #e5e5e5;
}


.checkbox-filter label {
  margin-bottom: 20px;
}

.filter-checkbox + label:before,
.filter-radio + label:before {
  opacity: 0.7;
}

.filter-checkbox:hover + label:before,
.filter-radio:hover + label:before {
  opacity: 1;
}

.filter-checkbox:not(checked) + label {
  position: relative;

  padding-left: 34px;
}

.filter-checkbox:disabled + label,
.filter-radio:disabled + label {
  opacity: 0.3;
}

.filter-checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}

.filter-checkbox:not(checked) + label:before {
  content: " ";
  position: absolute;
  top: -2px;
  left: 0;
  width: 26px;
  height: 23px;
  background: url("../img/svg-technomart/checkbox-off.svg") no-repeat 0 0;
}

.filter-checkbox:checked + label:before {
  background: url("../img/svg-technomart/checkbox-on.svg") no-repeat 0 0;
}

.filter-radio:not(checked) + label {
  position: relative;
  padding-left: 34px;
}

.filter-radio:not(checked) {
  position: absolute;
  opacity: 0;
}

.filter-radio:not(checked) + label:before {
  content: " ";
  position: absolute;
  top: -3px;
  left: 0;
  width: 25px;
  height: 25px;
  background: url("../img/svg-technomart/radio-off.svg") no-repeat 0 0;
}

.filter-radio:checked + label:before {
  background: url("../img/svg-technomart/radio-on.svg") no-repeat 0 0;
}

.checkbox-title label {
  display: flex;
}

.checkbox-filter label {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.radio-filter {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 61px;
}

.radio-filter label {
  margin-bottom: 19px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-button {
  margin-bottom: 20px;
  padding-top: 9px;
  padding-right: 33px;
  padding-bottom: 7px;
  padding-left: 37px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 2px solid #f7f3ec;
  border-radius: 5px;
}

.container-sort {
  width: 700px;
}

.sort {
  display: flex;
  align-items: center;
  padding: 0 18px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.sort-title {
  margin-top: 1px;
  margin-right: 140px;
  margin-bottom: 1px;
}

.sort-list {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 25px;
  margin-bottom: 14px;
  margin-left: auto;
  padding-left: 0;
  list-style: none;
}

.sort-list-item {
  color: rgba( 0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sort-list-item:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort-list-item:active {
  color: #ee3643;
  border: none;
}

.sort-active {
  color: #ee3643;
  border: none;
}

.sort-arrow {
  margin-left: 21px;
  cursor: pointer;
  fill: #c5c5c5;
}

.sort-arrow:hover {
  fill: #000000;
}

.sort-arrow:active {
  fill: #ee3643;
}

.main {
  margin-top: 59px;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding-top: 1px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 52px;
}

.top-row {
  display: flex;
  flex-basis: 940px;
  justify-content: space-between;
}

.bottom-row {
  display: flex;
  flex-basis: 940px;
  justify-content: space-between;
  margin-top: 20px;
}

.menu-wrap {
  flex-basis: 300px;
}

.menu-wrap h3 {
  margin: 0;
}

.main-menu h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
}

.main-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 38px;
  margin-bottom: 3px;
  margin-left: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba( 0, 0, 0, 0.1);
  border-radius: 3px;
}

.main-menu-button:hover {
  background-color: rgba( 0, 0, 0, 0.2);
}

.main-menu-button:active {
  background-color: rgba( 0, 0, 0, 0.3);
}

.main-menu-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 300px;
  height: 122px;
  padding-top: 19px;
  padding-left: 22px;
}

.main-menu-item h3 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.materials {
  background-color: #ffbf47;
}

.tools {
  background-color: #3bbce3;
}

.technics {
  background-color: #dc91d8;
}

.sales {
  margin-bottom: 20px;
  background-color: #8ed78f;
}

.delivery {
  background-color: #ffc047;
}

.menu-flag {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
}

.image-materials {
  position: absolute;
  top: 31px;
  right: 43px;
  width: 44px;
  height: 66px;
  background: url("../img/svg-technomart/icon-1.svg") no-repeat 0 0;
}

.image-tools {
  position: absolute;
  top: 33px;
  right: 28px;
  z-index: 20;
  width: 75px;
  height: 61px;
  overflow: hidden;
  background: url("../img/svg-technomart/icon-2.svg") no-repeat 0 0;
}

.image-technics {
  position: absolute;
  top: 31px;
  right: 31px;
  z-index: 20;
  width: 78px;
  height: 63px;
  overflow: hidden;
  background: url("../img/svg-technomart/icon-3.svg") no-repeat 0 0;
}

.image-sales {
  position: absolute;
  top: 26px;
  right: 45px;
  z-index: 20;
  width: 59px;
  height: 72px;
  overflow: hidden;
  background: url("../img/svg-technomart/icon-4.svg") no-repeat 0 0;
}

.image-delivery {
  position: absolute;
  top: 32px;
  right: 31px;
  z-index: 20;
  width: 78px;
  height: 63px;
  overflow: hidden;
  background: url("../img/svg-technomart/icon-5.svg") no-repeat 0 0;
}

.main-slider {
  position: relative;
  width: 620px;
  height: 266px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.slider-controls-arrows {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding-right: 13px;
  padding-left: 25px;
  transform: translateY(-50%);
  font-size: 0;
}

.slider-controls-arrows .icon-left {
  width: 29px;
  height: 44px;
  border: none;
  outline: 0;
  background: url("../img/svg-technomart/icon-left.svg") no-repeat 0 0;
  cursor: pointer;
}

.slider-controls-arrows .icon-right {
  width: 29px;
  height: 44px;
  border: none;
  outline: 0;
  background: url("../img/svg-technomart/icon-right.svg") no-repeat 0 0;
  cursor: pointer;
}


.slide-title {
  margin: 0;
  margin-left: 24px;
  padding-top: 25px;
  padding-bottom: 1px;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum", Arial, sans-serif;
  color: white;
  text-transform: uppercase;
}

.slide-subtitle {
  margin: 0;
  margin-bottom: 11px;
  margin-left: 26px;
  padding-bottom: 117px;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.slider-button {
  margin-left: 25px;
  border-radius: 3px;
}

.slider-controls {
  position: absolute;
  bottom: 33px;
  left: 50%;
  z-index: 100;
  width: 160px;
  height: 18px;
  font-size: 0;
  text-align: center;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: " ";
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  height: 266px;
}

.slider-item:nth-child(1) {
  background-image: url("../img/perforator.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-item:nth-child(2) {
  background-image: url("../img/drill.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 6px;
  height: 6px;
  margin: -3px;
  background-color: inherit;
  background-color: #ee3643;
  border-radius: 50%;
}

.main-slider a,
.popular-item-header a,
.popular-producers-header a,
.cart-form-order,
.red-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
}

.main-slider a {
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
}

.popular-item-header a {
  padding-top: 10px;
  padding-right: 54px;
  padding-bottom: 10px;
  padding-left: 55px;
}

.popular-producers-header a {
  padding-top: 10px;
  padding-right: 70px;
  padding-bottom: 10px;
  padding-left: 69px;
}

.main-slider a:hover,
.popular-item-header a:hover,
.popular-producers-header a:hover,
.red-button:hover,
.cart-form-order:hover {
  background-color: #ca2c37;
}

.main-slider a:active,
.popular-item-header a:active,
.popular-producers-header a:active,
.red-button:active,
.cart-form-order:active {
  background-color: #ba2732;
}

.popular-item-header,
.popular-producers-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding-right: 23px;
  padding-left: 28px;
  padding-bottom: 1px;
  background-color: #f9f5f0;
}

.popular-item-header h2,
.popular-producers-header h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #32425c;
  text-transform: uppercase;
}

.popular-item,
.popular-producers {
  width: 940px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.popular-producers {
  margin-bottom: 68px;
}

.producers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.producers-list a:hover {
  box-shadow: 0 9px 30px 1px rgba(0,0,0,0.5);
}

.producers-list a:active {
  box-shadow: 0 9px 10px 0 rgba(0,0,0,0.6);
  opacity: 0.5;
}

.producers-list a {
  width: 218px;
  height: 142px;
  margin-bottom: 20px;
  padding-left: 3px;
  border: 1px solid #eaeaea;
}

.popular-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 19px;
}

.title-item h3 {
  min-height: 40px;
  margin-top: 7px;
  margin-bottom: 0;
  padding: 0 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}

.item {
  position: relative;
  flex-basis: 220px;
  box-sizing: border-box;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #eaeaea;
}

.flag {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 20;
  width: 60px;
  height: 60px;
  overflow: hidden;
  text-indent: -1000px;
}

.flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.item .actions {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 218px;
  height: 88px;
  padding: 43px 0;
  background-color: #ffffff;
}

.item .image {
  width: 218px;
  height: 168px;
  padding-top: 3px;
}

.discount {
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #a9a9a9;
  text-decoration: line-through;
}

.price {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}

.item .price {
  position: relative;
  width: 136px;
  margin: 9px auto;
  margin-bottom: 21px;
  padding: 10px 0;
  color: #ffffff;
  background: #ee3643;
  border-radius: 3px;
}

.item .price:after {
  content: " ";
  position: absolute;
  top: 0;
  right: -26px;
  width: 0;
  height: 0;
  border: 19px solid #ffffff;
  border-left-color: #ee3643;
}

.actions .buy,
.actions .to-bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 7px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-radius: 3px;
  border-radius: 3px;
}

.item .actions {
  display: none;
}

.item:hover .actions {
  display: block;
}

.item:hover {
  box-shadow: 0 9px 30px 1px rgba(0,0,0,0.5);
}

.actions .buy {
  border-bottom: none;
  box-shadow: 0 3px 0 0 #367315;
}

.actions .to-bookmark {
  color: #32425c;
  background-color: #ffffff;
  border-bottom-color: #63a63e;
}

.buy:hover {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
  border-bottom: none;
}

.buy:active {
  background-color: #518534;
  border: 3px solid #518534;
  border-bottom: none;
}

.to-bookmark:hover {
  border-color: #32425c;
}

.to-bookmark:active {
  border-color: rgba( 50, 66, 92, 0.3);
}
.to-bookmark:active {
  color: rgba( 50, 66, 92, 0.3);
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  margin-top: 33px;
  margin-right: 413px;
  margin-bottom: 64px;
  margin-left: 240px;
}

.pagination-list a {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 15px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-next {
  display: flex;
  align-items: center;
  height: 38px;
  padding: 0 32px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination:hover,
.pagination-next:hover {
  border-color: #bdc6ca;
}

.pagination:active,
.pagination-next:active {
  color: #000000;
  border-color: #ee3643;
}

.pagination-current,
.pagination-current:hover {
  color: white;
  background-color: #ee3643;
  border: 1px solid #ee3643;
}

.cart-form {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 500;
  display: none;
  width: 620px;
  height: 275px;
  background-color: white;
  border-top: 7px solid #ff5257;
  box-shadow: 0 9px 30px 1px rgba(0,0,0,0.5);
  transform: translate(-50%, -50%);
}

.cart-form-ok-icon {
  position: absolute;
  top: 1px;
  left: 81px;
}

.cart-form-ok {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px 0;
}

.cart-form-info {
  margin-top: 21px;
  margin-bottom: 23px;
  margin-left: 70px;
  font-size: 30px;
  font-family: "Cuprum", Arial, sans-serif;
}

.cart-form-variant {
  display: flex;
  flex: 1px;
  justify-content: space-between;
  align-items: center;
  padding-top: 37px;
  padding-right: 80px;
  padding-bottom: 35px;
  padding-left: 80px;
  background-color: #f1f1f1;
}

.cart-form-next {
  padding-top: 11px;
  padding-right: 45px;
  padding-bottom: 11px;
  padding-left: 45px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: white;
  border: none;
  border-radius: 3px;
}

.cart-form-order {
  padding-top: 11px;
  padding-right: 61px;
  padding-bottom: 11px;
  padding-left: 61px;
  border-radius: 3px;
}

.about-product-wrap {
  background-color: #f2f6f8;
}

.about-product {
  width: 940px;
  margin: 0 auto;
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 57px;
  padding-left: 11px;
}

.about-product h2 {
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
}

.service-content {
  background-color: #f4f8f9;
}

.service-content-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin: 0 auto;
  padding-top: 37px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #f4f8f9;
}

.service-choice {
  padding-right: 540px;
}

.service-choice h2 {
  margin-bottom: 27px;
  padding-top: 1px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
}

.service-choice p {
  font-size: 13px;
  line-height: 24px;
}

.servise-credit,
.servise-guarantee {
  display: none;
}

.servise-delivery,
.servise-guarantee,
.servise-credit {
  flex-grow: 1;
  margin-top: 21px;
  margin-left: 78px;
  padding-bottom: 115px;
}

.about-delivery {
  width: 277px;
}

.about-guarantee {
  width: 380px;
}

.about-credit {
  width: 280px;
}

.about-delivery h2,
.about-guarantee h2,
.about-credit h2 {
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #32425c;
  text-transform: uppercase;
}

.about-delivery p,
.about-guarantee p,
.about-credit p {
  padding-left: 2px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}

.servise-credit a {
  padding-top: 13px;
  padding-right: 45px;
  padding-bottom: 14px;
  padding-left: 49px;
  font-size: 14px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ff5357;
}

.servise-delivery {
  background: url("../img/delivery.png") no-repeat 100% 100%;
}

.servise-guarantee {
  background: url("../img/guaranty.png") no-repeat 100% 100%;
}

.servise-credit {
  background: url("../img/credit.png") no-repeat 100% 100%;
}

.servise-wrap {
  position: relative;
  margin-top: 57px;
}

.servise-button-wrap {
  display: flex;
  align-items: center;
  width: 240px;
  height: 60px;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #32425c;
}

.active-button-wrap {
  display: flex;
  align-items: center;
  width: 240px;
  height: 60px;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #ffffff;
}

.servise-button {
  padding-left: 22px;
  color: #ffffff;
}

.servise-button-active {
  padding-bottom: 5px;
  padding-left: 22px;
  color: #32425c;
}

.servise-button-wrap:hover {
  background-color: #293449;
}

.servise-shadow {
  position: absolute;
  top: -32px;
  right: -6px;
  width: 15px;
  height: 264px;
  background: url("../img/shadow.png") no-repeat 0 0;
}

.info {
  width: 940px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.info-wrap {
  display: flex;
  padding-top: 51px;
  padding-bottom: 84px;
  padding-left: 1px;
}

.about-us {
  padding-right: 104px;
}

.info-wrap p {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.second-p {
  margin-top: 24px;
  margin-bottom: 21px;
  padding-right: 145px;
}

.info h2 {
  margin-bottom: 29px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
}

.variant-delivery li:nth-child(2),
.variant-delivery li:nth-child(3) {
  padding-top: 20px;
}

.variant-delivery {
  position: relative;
  padding-left: 36px;
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", Arial, sans-serif;
}

.variant-delivery li::before {
  content: " ";
  position: absolute;
  left: 0;
  display: block;
  width: 25px;
  height: 2px;
  margin-top: 8px;
  background: red;
}

.about-us-button a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}

.about-us-button {
  display: inline-block;
  margin-top: 17px;
  padding-top: 11px;
  padding-right: 40px;
  padding-bottom: 9px;
  padding-left: 40px;
  background-color: #ee3643;
}

.communications p {
  margin-bottom: 32px;
}

.communications-button {
  display: block;
  width: 300px;
  margin-top: 30px;
  padding-top: 12px;
  padding-bottom: 9px;
  text-align: center;
  background-color: #ee3643;
}

.communications-button a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}

.map-popup-wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 500;
  display: none;
  width: 940px;
  height: 446px;
  border-radius: 3px;
  box-shadow: 0 0 16px 8px rgba(47,42,43,0.5);
  transform: translate(-50%, -50%);
}

.map-popup-image {
  display: block;
  border-radius: 3px;
}

.form-1-wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  display: none;
  width: 620px;
  background-color: white;
  border-top: 7px solid #ff5257;
  box-shadow: 0 9px 30px 1px rgba(0,0,0,0.5);
  transform: translate(-50%, -50%);
}

.form-1-wrap label {
  display: block;
  padding-top: 18px;
  padding-bottom: 10px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 29px;
  padding-right: 80px;
  padding-bottom: 32px;
  padding-left: 80px;
}

.form-1 {
  position: relative;
}

.icon-close,
.cart-form-close-icon,
.map-popup-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 22px;
  height: 22px;
  padding: 0;
  font-size: 0;
  background: url("../img/svg-technomart/form-2.svg") no-repeat 0 0;
  border: none;
}

.form-1-name,
.form-1-mail,
.form-1-comment {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
}

.form-1-name input,
.form-1-mail input {
  width: 203px;
  height: 34px;
  padding-left: 15px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.form-1-comment textarea {
  width: 439px;
  height: 98px;
  padding-top: 9px;
  padding-left: 15px;
  resize: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  border: 2px solid #dee3e4;
  border-radius: 3px;

}

.button-form-1 {
  padding-top: 10px;
  padding-right: 198px;
  padding-bottom: 11px;
  padding-left: 201px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  border: 0;
  border-radius: 3px;
}

.form-1-button-wrap {
  padding-top: 37px;
  padding-right: 80px;
  padding-bottom: 37px;
  padding-left: 80px;
  background-color: #f4f4f4;
}

.footer-1-wrap {
  background-color: #32425a;
}

.footer-navigation {
  display: flex;
  flex-wrap: nowrap;
  width: 940px;
  margin: 0 auto;
  padding-right: 10px;
  padding-bottom: 32px;
  padding-left: 10px;
  background-color: #32425a;
}

.footer-logo {
  display: inline-block;
  padding-top: 21px;
  padding-right: 41px;
  padding-bottom: 21px;
  padding-left: 42px;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

.footer-contacts {
  padding-right: 67px;
}

.footer-adress {
  margin-top: 19px;
  padding-left: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
}

.footer-menu {
  flex-grow: 1;
}

.navigation-1,
.navigation-2 {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
}

.navigation-1 {
  margin-top: 37px;
  margin-bottom: 33px;
  padding-right: 3px;
}

.navigation-2 {
  margin-top: 22px;
  margin-left: 23px;
}

.navigation-1 a {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #f1f5f7;
}

.navigation-2 a {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffd180;
}

.navigation-1 a:hover,
.navigation-2 a:hover {
  text-decoration: underline;
}

.navigation-1 a:active {
  color: rgba( 241, 245, 247, 0.5);
}

.navigation-2 a:active {
  color: rgba( 255, 209, 128, 0.5);
}

.footer-2 {
  background-color: #293449;
}

.footer-2-wrap {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding-top: 23px;
  padding-right: 10px;
  padding-bottom: 32px;
  padding-left: 10px;
  background-color: #293449;
}

.rights {
  margin-right: 65px;
  margin-left: 2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
}

.footer-social {
  display: flex;
  align-items: center;
  margin-right: 66px;
  margin-bottom: 3px;
  margin-left: 48px;
}

.social {
  width: 40px;
  height: 40px;
  border-radius: 30px;
}

.footer-social a:nth-child(2),
.footer-social a:nth-child(3) {
  margin-left: 5px;
}

.social-vk {
  background: url("../img/svg-technomart/icon-vk.svg") no-repeat 50% 50%;
}

.social-fb {
  background: url("../img/svg-technomart/icon-fb.svg") no-repeat 50% 50%;
}

.social-insta {
  background: url("../img/svg-technomart/icon-insta.svg") no-repeat 50% 50%;
}

.footer-social a {
  background-color: #212a3a;
}

.footer-social a:hover,
.footer-social a:active {
  background-color: #ee3643;
}

.developed-by {
  margin-right: 16px;
}

.feedback p,
.developed-by p {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
}

.feedback a,
.developed-by a {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffd180;
}

.feedback a:hover,
.developed-by a:hover {
  text-decoration: underline;
}

.feedback a:active,
.developed-by a:active {
  color: #ee3643;
}
