body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.header {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    padding-bottom: 60px;
    background-color: #f4f7f9;
}

.logo {
    background-color: #ee3643;
    box-shadow: 0px 5px 0px 0px #b52933;
    padding-left: 55px;
    padding-right: 55px;
    height: 40px;
    display: flex;
    align-items: center;
}

.logo:hover {
    background-color: #ca2c37;
    box-shadow: 0px 5px 0px 0px #9a212a;
}

.logo:active {
    background-color: #ba2732;
    box-shadow: 0px 5px 0px 0px #8e1e26;
}

.header-user-wrap {
    background-color: #293449;
}

.header-user {
    width: 940px;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}

.header-user a {
    color: #ffffff;
}

.visually-hidden {
    visibility: hidden;
    font-size: 0;
    height: 0px;
}

.search-form-wrap {
    position: relative;
    flex-grow: 2;
    align-self: center;
}

.search-form-wrap input {
    background-color: #293449;
    border: 0;
    padding-left: 48px;
    height: 40px;
}

input[type="search"]::placeholder {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}

.header-item-wrap:hover,
.search-form-wrap:hover,
.search-form-wrap:hover input {
    background-color: #212a3a;
}

.search-form input:focus {
    height: 40px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
    outline: none;
    width: 100%;
}

.search-icon {
    fill: #5f6777;
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
}

.search-icon:hover {
    fill: #ffffff;
}

.search-input:focus + .search-icon {
    fill: #ee3643;
}

.header-item-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
    width: 120px;
    cursor: pointer;
}

.cart-red {
    background-color: #ee3643;
}

.header-item-wrap:active {
    background-color: #161d29;
}

.header-bookmarks:active, 
.header-cart:active,
.checkout-order:active {
    color: rgba( 255, 255, 255, 0.6);
}

.bookmark-icon::before {
    content: '';
    background: url("../img/svg-technomart/icon-bookmark.svg") no-repeat 0 0;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 17px;
    opacity: 0.5;
}

.cart-icon::before {
    content: '';
    background: url("../img/svg-technomart/icon-cart.svg") no-repeat 0 0;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 17px;
    opacity: 0.5;
}

.header-item-wrap:hover .bookmark-icon::before,
.header-item-wrap:hover .cart-icon::before,
.search-form-wrap:hover .header-icon {
    opacity: 1;
}

.header-item-wrap:active .bookmark-icon::before,
.header-item-wrap:active .cart-icon::before {
    opacity: 0.3;
}

.search-icon::before {
    background: url("../img/svg-technomart/icon-search.svg") no-repeat 0 0;
}


.checkout-order-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #63a63e;
    width: 150px;
    cursor: pointer;
}

.checkout-order-wrap:hover {
    background-color: #5fbb2d;
}

.checkout-order-wrap:active {
    background-color: #518534; 
}

.checkout-order {
    text-align: center;
}

.header-cart-added {
    background-color: #ee3643;
    padding-left: 17px;
    padding-right: 31px;
}

.header-info-wrap {
    width: 940px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 49px;
}

.header-info {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    font-style: italic;
    color: #ee3643;
    flex-basis: 197px;
    padding: 0;
    margin: 0;
    margin-left: 51px;
}

.header-contacts {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-phone {
    position: relative;
    display: flex;
    align-items: center;
    width: 145px;
    border: 3px solid #ffffff;    
    height: 36px;
    padding-left: 71px;
    padding-right: 48px;
}

.phone-icon {
    position: absolute;
    width: 22px;
    height: 20px;
    left: 12px;
    background: url("../img/svg-technomart/icon-phone.svg") no-repeat 0 0;
}

.header-phone a {
    text-align: center;
    font-size: 21px;
    line-height: 18px;
    color: #ee3643;
    
}

.address {
    font-size: 14px;
    line-height: 24px;
    color: #32425c; 
    margin-top: 5px;
}

.user-input-registration {
    display: flex;
    margin-bottom: 55px;
}

.user-input {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    height: 37px;
    padding-top: 2px;
    padding-right: 24px;
    padding-bottom: 2px;
    padding-left: 46px;
    cursor: pointer;
}

.user-input a {
    font-size: 21px;
    line-height: 18px;
    color: #000000;
    
}

.input-icon {
    position: absolute;
    width: 20px;
    height: 18px;
    left: 14px;
    fill: #c5c5c5;
}

.user-registration {
    display: flex;
    align-items: center;
    height: 37px;
    background-color: #ffffff;
    padding-right: 26px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 25px;
    margin-left: 10px;
}

.user-registration a {
    font-size: 21px;
    line-height: 18px;
    color: #000000;
}

.user-input:hover .input-icon,
.user-input:hover a,
.user-registration:hover a {
    fill: #32425C;
    color: #ee3643;
}

.user-input:active .input-icon {
    fill: #c5c5c5;
}

.user-input a:active,
.user-registration a:active { 
    color: rgba( 0, 0, 0, 0.30); 
}

.user-block .user-name {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
    padding-top: 16px;
    padding-bottom: 13px;
    padding-left: 1px;
    padding-right: 1px;
    display: inline-block;
}

.user-name-block {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}


.user-icon {
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 14px;
    padding-left: 10px;
    background-color: #ffffff;
    fill: #c5c5c5;
}

.exit-icon {
    padding-top: 14px;
    padding-right: 10px;
    padding-bottom: 9px;
    padding-left: 40px;
    background-color: #ffffff;
    fill: #c5c5c5;
}

.user-name-block:hover a,
.user-name-block:hover .user-icon,
.user-name-block:hover .exit-icon {
    color: #ee3643;
    fill: #32425C;
}

.user-name-block:active a,
.user-name-block:active .user-icon,
.user-name-block:active .exit-icon {
    color: #ee3643;
    fill: #c5c5c5;
}

.user-cabinet {
    display: flex;
    padding: 0;
    margin-left: 12px;
    margin-top: 10px;
}

.user-cabinet li {
    color: #32425c;
}

.user-cabinet li:first-child {
    list-style: none;
    margin-right: 30px;
}

.user-cabinet li:last-child {
    padding-left: 5px;
}

.user-cabinet a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #32425c;
    text-decoration: underline;
}

.user-cabinet a:hover {
    color: #ee3643;
}

.user-cabinet a:active {
    color: rgba( 50, 66, 92, 0.3)
}


.user-block .user-name:hover {
    color: #ee3643;
}

.user-block .user-name:active {
    color: rgba( 0, 0, 0, 0.3)
}

.header-navigation {
    background-color: #32425c;
    border-bottom: 5px solid #293449;
    width: 940px;
    margin: 13px auto 0;  
}

.header-navigation a:hover {
    background-color: #293449;
}

.header-navigation a:active {
    background-color: #1d2739;
    color: rgba( 255, 255, 255, 0.50)
}

.navigation-list a {
    color: #ffffff;
    display: flex;
    align-items: center;
    height: 55px;
    padding: 0 30px;
}

.navigation-list {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 23px;
}

.navigation-list li {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 55px;
}

.container {
    width: 940px;
    margin: 24px auto 0; 
}

.breadcrumbs-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.breadcrumbs {
    display: flex;
    list-style: none;
    padding-left: 0px;
    margin: 0;
    align-items: center;
}

.breadcrumb-item {
    position: relative;
    padding-left: 40px;
    text-transform: uppercase;   
}

.breadcrumb-item::before {
    content: '';
    background: url("../img/svg-technomart/icon-right-small.svg") no-repeat 0 0;
    position: absolute;
    width: 8px;
    height: 12px;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.breadcrumbs li,
.sort p,
.sort-list,
.filter-title {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.main-title-wrap {
    display: flex;
    background-color: #f2f6f8; 
}

.main-title {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c; 
    text-transform: uppercase;
    padding-left: 28px;
}

.main-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    width: 220px;
    margin-right: 20px;
    padding-bottom: 300px;
}

.filter-container-wrap {
    display: flex;
    flex-direction: column;
    width: 220px;
}

.main-filter-title {
    background-color: #f7f3ec;
    padding-top: 13px;
    padding-right: 150px;
    padding-bottom: 15px;
    padding-left: 18px;
    border-radius: 3px;
}

.filter-title {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
}

.filter-form {
    display: flex;
    flex-wrap: wrap;
    
}

.range-filter,
.checkbox-filter {
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
}


.filter-subtitle {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 10px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f7f3ec;
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}
  
.range-controls .toggle-max {
    left: 148px;
}

.price-controls {
    display: flex;
    
}

.price-controls input {
    width: 92px;
    text-align: center;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    padding-top: 11px;
    padding-bottom: 14px;
    background-color: #f7f3ec;
    border-radius: 5px;
    border: none;
}

.price-controls span {
    margin: 0 9px;
    padding-top: 8px;
}

.checkbox-filter {
    display: flex;
    flex-direction: column;
    padding-right: 77px;
}


.checkbox-filter label {
    margin-top: 16px;
}

.checkbox-filter .filter-subtitle {
    margin-bottom: 0;
}


.filter-checkbox + label:before,
.filter-radio + label:before {
    opacity: 0.7;
}

.filter-checkbox:hover + label:before,
.filter-radio:hover + label:before {
    opacity: 1;
}

.filter-checkbox:not(checked) + label {
    position: relative;
    padding-left: 34px;
}

.filter-checkbox:disabled + label,
.filter-radio:disabled + label {
    opacity: 0.3;
}

.filter-checkbox:not(checked) {
    position: absolute;
    opacity: 0;
  }

.filter-checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -2px;
    width: 26px;
    height: 23px;
    background: url("../img/svg-technomart/checkbox-off.svg") no-repeat 0 0;
}

.filter-checkbox:checked + label:before {
    background: url("../img/svg-technomart/checkbox-on.svg") no-repeat 0 0;
}

.filter-radio:not(checked) + label {
    position: relative;
    padding-left: 34px;
}

.filter-radio:not(checked) {
    position: absolute;
    opacity: 0;
  }

.filter-radio:not(checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -3px;
    width: 25px;
    height: 25px;
    background: url("../img/svg-technomart/radio-off.svg") no-repeat 0 0;
}

.filter-radio:checked + label:before {
    background: url("../img/svg-technomart/radio-on.svg") no-repeat 0 0;
}

.checkbox-title label {
    display: flex;
}

.checkbox-filter label {
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.radio-filter {
    display: flex;
    flex-direction: column;
    padding-bottom: 65px;
}

.radio-filter label {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 16px;
}

.filter-button {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #ffffff;
    padding: 14px 39px 14px 38px;
    border: 2px solid #f7f3ec;
    border-radius: 5px;
    margin-bottom: 20px;
}

.sort {
  display: flex;
  align-items: center;
  background-color: #f7f3ec;
  border-radius: 3px;
  padding: 0 18px;
}

.sort-title {
    margin-right: 140px;
}

.sort-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0px;
    margin-left: auto;
    flex: 1;
    margin-right: 25px;
}

.sort-list-item {
    color: rgba( 0, 0, 0, 0.3);
    text-decoration: underline;
    text-decoration-color: #ee3643;
    text-decoration-style: dotted;
}

.sort-list-item:hover {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #ee3643;
}

.sort-list-item:active {
    color: #ee3643;
    text-decoration: none;
    text-decoration-color: #ee3643;
}

.sort-arrow {
    fill: #c5c5c5;
    cursor: pointer;
    margin-left: 21px;
}

.sort-arrow:hover {
    fill: #000000;
}

.sort-arrow:active {
    fill: #ee3643;
}

.sort-active {
    fill: #ee3643;
    color: #ee3643;
    text-decoration: none;
}

.main {
    margin-top: 60px;
}

.main-menu {
    width: 940px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 52px;  
}

.top-row {
    flex-basis: 940px;
    display: flex;
    justify-content: space-between;
}

.bottom-row {
    margin-top: 20px;
    flex-basis: 940px;
    display: flex;
    justify-content: space-between;
}

.menu-wrap {
    flex-basis: 300px;
}

.menu-wrap h3 {
    margin: 0;
}

.main-menu h3 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
}

.main-menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    background-color: rgba( 0, 0, 0, 0.1);
    height: 38px;
    margin-bottom: 3px;
    margin-left: 3px;
    border-radius: 3px;
}

.main-menu-button:hover {
    background-color: rgba( 0, 0, 0, 0.2)
}

.main-menu-button:active {
    background-color: rgba( 0, 0, 0, 0.3)
}

.main-menu-item {
    position: relative;
    width: 300px;
    height: 122px;
    display: flex;
    justify-content: space-between;
    padding-top: 19px;
    padding-left: 22px;
    box-sizing: border-box;
}

.main-menu-item h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

.materials {
    background-color: #ffbf47;
}

.tools {
    background-color: #3bbce3;

}

.technics {
    background-color: #dc91d8;
}

.sales {
    background-color: #8ed78f;
    margin-bottom: 20px;
}

.delivery {
    background-color: #ffc047;
}

.menu-flag {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
}

.image-materials {
    position: absolute;
    top: 31px;
    right: 43px;
    width: 44px;
    height: 66px;
    background: url("../img/svg-technomart/icon-1.svg") no-repeat 0 0;
}

.image-tools {
    position: absolute;
    top: 33px;
    right: 28px;
    width: 75px;
    height: 61px;
    overflow: hidden;
    z-index: 20;
    background: url("../img/svg-technomart/icon-2.svg") no-repeat 0 0;
}

.image-technics {
    position: absolute;
    top: 31px;
    right: 31px;
    width: 78px;
    height: 63px;
    overflow: hidden;
    z-index: 20;
    background: url("../img/svg-technomart/icon-3.svg") no-repeat 0 0;
}

.image-sales {
    position: absolute;
    top: 26px;
    right: 45px;
    width: 59px;
    height: 72px;
    overflow: hidden;
    z-index: 20;
    background: url("../img/svg-technomart/icon-4.svg") no-repeat 0 0;
}

.image-delivery {
    position: absolute;
    top: 32px;
    right: 31px;
    width: 78px;
    height: 63px;
    overflow: hidden;
    z-index: 20;
    background: url("../img/svg-technomart/icon-5.svg") no-repeat 0 0;
}

.main-slider {
    width: 620px;
    height: 266px;
    position: relative;
}

.slider-list {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
}

.slider-controls-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 20px;
    box-sizing: border-box;
}

.slide-title {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 36px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-left: 24px;
    padding-top: 25px;
    padding-bottom: 4px;
    color: white;
}

.slide-subtitle {
    font-size: 18px;
    padding: 0;
    margin: 0;
    line-height: 24px;
    margin-left: 26px;
    margin-bottom: 11px;
    padding-bottom: 120px;
    color: white;
}

.slider-button {
    margin-left: 25px;
    border-radius: 3px;
}

.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 33px;
    z-index: 100;
    width: 160px;
    height: 18px;
    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}
  
.slider-controls label {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}
  
.slider-controls label::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 10px;
    height: 10px;
    background: #ffffff; 
    border-radius: 50%;
}
  
.slider-list {
    margin: 0;
    padding: 0; 
    list-style: none;
}
  
.slider-item {
    display: none;
    height: 266px;
}
  
.slider-item:nth-child(1) {
    background-image: url("../img/perforator.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
  
.slider-item:nth-child(2) {
    background-image: url("../img/drill.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
  
  
#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}
  
#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}
  

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 6px;
    height: 6px;
    margin: -3px;
    background-color: inherit;
    background-color: #EE3643;
    border-radius: 50%;
}

.main-slider a,
.popular-item-header a,
.popular-producers-header a,
.cart-form-order,
.red-button {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ee3643;
    border-radius: 3px;
}

.main-slider a {
    padding: 10px 50px 10px 50px; 
}

.popular-item-header a {
    padding: 10px 54px 10px 55px;
}

.popular-producers-header a {
    padding: 10px 70px 10px 69px;
}


.main-slider a:hover,
.popular-item-header a:hover,
.popular-producers-header a:hover,
.red-button:hover,
.cart-form-order:hover {
    background-color: #ca2c37;
}

.main-slider a:active,
.popular-item-header a:active,
.popular-producers-header a:active,
.red-button:active,
.cart-form-order:active {
    background-color: #ba2732;
}

.popular-item-header,
.popular-producers-header {
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f5f0;
    padding-left: 26px;
    padding-right: 23px;
}

.popular-item-header h2,
.popular-producers-header h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;    
}

.popular-item, 
.popular-producers {
    width: 940px;
    margin: 0 auto;
}

.popular-producers {
    margin-bottom: 68px;
}

.producers-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.producers-list a:hover {
    box-shadow: 0px 9px 30px 1px rgba(0,0,0,0.5);
}

.producers-list a:active {
    box-shadow: 0px 9px 10px 0px rgba(0,0,0,0.6);
    opacity: 0.5;
}

.producers-list a {
    width: 218px;
    height: 142px;
    margin-bottom: 20px;
    border: 1px solid #eaeaea;
}

.popular-item-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title-item {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #000000;
    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 1px;
}

.item {
    position: relative;
    flex-basis: 220px;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

.flag {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.flag-new {
    background: url("../img/new-flag.png") no-repeat 0 0;
}

.item .actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color:#ffffff;
    z-index:10;
}

.item .image {
    width: 218px;
    height: 168px;
}

.item .image img {
    width: 100%;
}

.discount {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #a9a9a9;
    text-decoration: line-through;
}

.price {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;
}

.item .price {
    position: relative;
    width: 136px;
    margin: 5px auto;
    margin-bottom: 20px;
    padding: 10px 0px;
    color: #ffffff;
    background: #ee3643;
    border-radius: 3px;
}

.item .price:after {
    content: "";
    position: absolute;
    top: 0;
    right: -26px;
    width: 0;
    height: 0;
    border: 19px solid #ffffff;
    border-left-color: #ee3643;
}

.actions .buy,
.actions .to-bookmark {
    display: block;
    width: 129px;
    margin: 0 auto;
    border-radius: 3px;
    margin-bottom: 7px;
    padding: 7px 0;
    border: 3px solid #63a63e;
    background-color: #63a63e;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;    
    border-radius: 3px;
}

.item .actions {
    display: none;
}

.item:hover .actions {
    display: block;
}

.item:hover {
    box-shadow: 0px 9px 30px 1px rgba(0,0,0,0.5);
}

.actions .buy {
    box-shadow: 0px 3px 0 0 #367315;
    border-bottom: none;
}

.actions .to-bookmark {
    color: #32425c;
    background-color: #ffffff;
    border-bottom-color: #63a63e;
}

.buy:hover {
    background-color: #5fbb2d;
    border: 3px solid #5fbb2d;
    border-bottom: none;
}

.buy:active {
    background-color: #518534;
    border: 3px solid #518534;
    border-bottom: none;
}

.to-bookmark:hover {
    border-color: #32425c;
}

.to-bookmark:active {
    border-color: rgba( 50, 66, 92, 0.3);
}
.to-bookmark:active {
    color: rgba( 50, 66, 92, 0.3);
}

.pagination-list {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-right: 416px;
    margin-bottom: 60px;
    margin-left: 238px;
}

.pagination-list {
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}

.pagination {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    height: 38px;
    display: flex;
    align-items: center;
    padding: 0 16px;
}


.pagination:hover {
    border-color: #bdc6ca;
}

.pagination:active {
    border-color: #ee3643;
    color: #000000;
}

.pagination-current,
.pagination-current:hover {
    background-color: #ee3643;
    border: 1px solid #ee3643;
    color: white;
}

.cart-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    box-shadow: 0px 9px 30px 1px rgba(0,0,0,0.5);
    width: 624px;
    height: 279px;
    border-top: 7px solid #ff5257;
    display: flex;
    flex-direction: column;
    z-index: 500;
    display: none;
}

.cart-form-close-icon {
    position: absolute;
    right: 9px;
    top: 9px;
}

.cart-form-ok {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 48px 0;
}

.cart-form-info {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    margin-left: 31px;
}

.cart-form-variant {
    background-color: #f1f1f1;
    flex: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

.cart-form-next {
    background-color: white;
    text-transform: uppercase;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    padding: 14px 49px;
    border-radius: 3px;
    color: #000000;
}

.about-product-wrap {
    background-color: #f2f6f8;
    
}

.about-product {
    width: 940px;
    margin: 0 auto;
    padding-top: 68px;
    padding-bottom: 39px;
}

.about-product h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.service-content {
    background-color: #f4f8f9;  
}

.service-content-wrap {
    width: 940px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 40px;
}

.service-choice {
    padding-right: 540px;
}

.service-choice h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 31px;
}

.service-choice p {
    font-size: 13px;
    line-height: 24px;
}

.servise-credit,
.servise-guarantee {
    display: none;
}


.servise-delivery,
.servise-guarantee,
.servise-credit {
    flex-grow: 1;
    padding-bottom: 120px;
    margin-top: 32px;
    margin-left: 78px;
}

.about-delivery {
    width: 277px;
}

.about-guarantee {
    width: 380px;
}

.about-credit {
    width: 280px;
}

.about-delivery h2,
.about-guarantee h2,
.about-credit h2{
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 36px;
    line-height: 24px;
    color: #32425c;
    text-transform: uppercase;
}

.about-delivery p,
.about-guarantee p,
.about-credit p{
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    padding-left: 2px;
}

.servise-credit a {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ff5357;
    padding-top: 13px;
    padding-right: 45px;
    padding-bottom: 14px;
    padding-left: 49px;
}

.servise-delivery {
    background: url("../img/delivery.png") no-repeat 100% 100%;
}

.servise-guarantee {
    background: url("../img/guaranty.png") no-repeat 100% 100%;
}

.servise-credit {
    background: url("../img/credit.png") no-repeat 100% 100%;
}

.servise-wrap {
    position: relative;
    margin-top: 57px;
}

.servise-button-wrap {
    display: flex;
    align-items: center;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    width: 240px;
    height: 60px;
    background-color: #32425c;
    
}

.active-button-wrap {
    display: flex;
    align-items: center;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    width: 240px;
    height: 60px;
    background-color: #ffffff;
}

.servise-button {
    padding-left: 22px;
    color: #ffffff;
}

.servise-button-active {
    padding-left: 22px;
    color: #32425c;
}

.servise-button-wrap:hover {
    background-color: #293449;
}

.servise-shadow {
    position: absolute;
    width: 15px;
    height: 264px;
    right: -6px;
    top: -32px;
    background: url("../img/shadow.png") no-repeat 0 0;
}

.service-icon {
    background: url("../img/svg-technomart/servise_credit.svg") no-repeat 0 0;
}

.info {
    width: 940px;
    margin: 0 auto;
}

.info-wrap {
    display: flex;
    padding-top: 56px;
    padding-bottom: 86px;
    padding-left: 1px;
}

.about-us {
    padding-right: 104px;
}

.info-wrap p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
}

.second-p {
    margin-top: 24px;
    margin-bottom: 23px;
    padding-right: 145px;
}

.info h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 29px;
}

.variant-delivery li:nth-child(2),
.variant-delivery li:nth-child(3) {
    padding-top: 20px;
}

.variant-delivery {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    position: relative;
    list-style: none;
    padding-left: 36px;
}

.variant-delivery li::before {
    position: absolute;
    display: block;
    content: " ";
    width: 25px;
    height: 2px;
    background: red;
    left: 0px;
    margin-top: 8px;
}

.about-us-button a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
      
}

.about-us-button {
    background-color: #ee3643;
    padding-top: 12px;
    padding-right: 40px;
    padding-bottom: 8px;
    padding-left: 40px;
    display: inline-block;
    margin-top: 17px;
}

.communications p {
    margin-bottom: 32px;
}

.communications-button {
    width: 300px;
    text-align: center;
    background-color: #ee3643;
    padding-top: 12px;
    padding-bottom: 9px;
    display: block;
    margin-top: 32px;
}

.communications-button a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
}

.map-popup-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 940px;
    height: 446px;
    z-index: 500;
    border-radius: 3px;
    box-shadow: 0px 0px 16px 8px rgba(47,42,43,0.5);
    display: none;
}

.map-popup-image {
    display: block;
    border-radius: 3px;
}

.map-popup-close {
    position: absolute;
    top: 9px;
    right: 9px;
}

.form-1-wrap { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 626px;
    border-top: 7px solid #ff5257;
    box-shadow: 0px 9px 30px 1px rgba(0,0,0,0.5);
    z-index: 1000;
    background-color: white;
    display: none;
}

.wrap {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding-top: 54px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 37px;
}

.form-1 {
    position: relative;
}

.icon-close {
    position: absolute;
    width: 22px;
    height: 20px;
    background: url("../img/svg-technomart/form-2.svg") no-repeat 0 0;
    right: 9px;
    top: 9px;
}

.form-1-name,
.form-1-mail,
.form-1-comment {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
}

.form-1-name input,
.form-1-mail input {
    font-size: 13px;
    line-height: 18px;
    width: 203px;
    height: 34px;
    padding-left: 15px;
}

.form-1-comment textarea {
    font-size: 13px;
    line-height: 18px;
    width: 445px;
    height: 111px;
    padding-left: 15px;
    padding-top: 12px;
    resize: none;
}

.button-form-1 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ee3643;
    padding-top: 13px;
    padding-right: 201px;
    padding-bottom: 14px;
    padding-left: 201px;
    border: 0; 
}

.form-1-button-wrap {
    background-color: #f4f4f4;
    padding-top: 37px;
    padding-bottom: 37px;
    padding-left: 80px;
    padding-right: 80px;   
}

.footer-1-wrap {
    background-color: #32425a;
    
}

.footer-navigation {
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 53px;
}

.footer-logo {
    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
    display: inline-block;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 42px;
    padding-right: 41px;
}

.footer-contacts {
    padding-right: 56px;
}

.footer-adress {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 33px;
}

.footer-menu {
    flex-grow: 1;
}

.navigation-1,
.navigation-2 {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    
}   

.navigation-1 {
    margin-top: 42px;
    margin-bottom: 33px;
}

.navigation-2 {
    margin-top: 22px;
    margin-left: 23px;
}

.navigation-1 a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #f1f5f7; 
}

.navigation-2 a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffd180;
}

.navigation-1 a:hover,
.navigation-2 a:hover {
    text-decoration: underline;
}

.navigation-1 a:active{
    color: rgba( 241, 245, 247, 0.5)
}

.navigation-2 a:active {
    color: rgba( 255, 209, 128, 0.5)
}

.footer-2 {
    background-color: #293449;
}

.footer-2-wrap {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 32px;
}

.rights {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    margin-right: 65px;
}

.footer-social {
    display: flex;
    align-items: center;
}

.social {
    width: 40px;
    height: 40px;
    border-radius: 30px;   
}



.footer-social a:nth-child(2),
.footer-social a:nth-child(3) {
    margin-left: 5px;
} 

.social-vk {
    background: url("../img/svg-technomart/icon-vk.svg") no-repeat 50% 50%;
}

.social-fb {
    background: url("../img/svg-technomart/icon-fb.svg") no-repeat 50% 50%;
}

.social-insta {
    background: url("../img/svg-technomart/icon-insta.svg") no-repeat 50% 50%;
}

.footer-social a {
    background-color: #212a3a;
}

.footer-social a:hover,
.footer-social a:active {
    background-color: #ee3643;
}

.feedback p,
.developed-by p {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}

.feedback a,
.developed-by a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #ffd180;
}

.feedback a:hover,
.developed-by a:hover {
    text-decoration: underline;
}

.feedback a:active,
.developed-by a:active {
    color: #ee3643;
}


